version: '3.1'
services:
  django: &django
    # build:
    #   context: .
    #   dockerfile: .docker/django/app
    # image: invo-prod:latest
    image: invo-dev:latest
    links:
      - db
      - redis
      - search
    environment:
      DATABASE_URL: postgres://postgres:postgres@invo-db/invo
      CACHE_URL: redis://invo-redis/0
    networks:
      - invo
    volumes:
      - ./invo:/app/invo/
  nginx:
    image: nginx:latest
    links:
      - app
    volumes:
      - .docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    command: [nginx-debug, '-g', 'daemon off;']
    networks:
      - invo
    ports:
      - 8080:80
  app:
    <<: *django
    # command: ./manage.py runserver 0.0.0.0:8000
    # command: supervisord -n -c ./invo/supervisord.conf
    # command: daphne -u /run/daphne/daphned.sock --fd 0 --access-log - --proxy-headers invo.asgi:application
    # command: daphne -u /run/daphne/daphned.sock --fd 0 --root-path=/api --access-log - --proxy-headers invo.asgi:application
    # command: daphne --root-path=api/ -b 0.0.0.0 -p 8000 invo.asgi:application
    # command: daphne -b 0.0.0.0 -p 8000 invo.asgi:application
    # command: uvicorn --reload --lifespan=off --root-path=/api --host 0.0.0.0 --port 8000 invo.asgi:application
    # command: uvicorn --reload --root-path=/api --lifespan=off --proxy-headers --host 0.0.0.0 --port 8000 invo.asgi:application
    # command: daphne -b 0.0.0.0 -p 8000 invo.asgi:application
    command: uvicorn --reload --lifespan=off --proxy-headers --host 0.0.0.0 --port 8000 invo.asgi:application
    env_file: .env.ngrok
    ports:
      - 8000:8000
  qworkers:
    <<: *django
    command: python ./manage.py qcluster
    env_file: .env.ngrok
  db:
    restart: always
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: invo
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - db-volume:/var/lib/postgresql/data
    env_file: .env
    ports:
      - 5432:5432
      - 5433:5433
    networks:
      invo:
        aliases:
          - invo-db
  redis:
    image: redis:latest
    ports:
      - 6379:6379
    networks:
      invo:
        aliases:
          - invo-redis
  search:
    image: elasticsearch:5.6.16
    # environment:
      # - node.name=es01
      # - cluster.name=es-docker-cluster
      # - discovery.seed_hosts=es02,es03
      # - cluster.initial_master_nodes=es01,es02,es03
      # - bootstrap.memory_lock=true
      # - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - es-volume:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
    networks:
      invo:
        aliases:
          - invo-es

volumes:
  db-volume:
    name: invo_db-volume
  es-volume:
    name: invo_es-volume

networks:
  invo:
    name: invo-net
    driver: bridge
