[tool.poetry]
name = "invo"
version = "0.1.0"
description = "Inventory management system"
authors = ["Patrick Forringer <patrick@forringer.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8"
django = "^3.1.2"
django-mptt = "^0.11.0"
django-mptt-admin = "^2.0.0"
django-polymorphic = "^3.0.0"
psycopg2-binary = "^2.8.6"
django-polymorphic-tree = "^1.5.1"
django-extensions = "^3.0.9"
django-safedelete = "^0.5.6"
pyhumps = "^1.6.1"
django-qr-code = "^1.3.1"

[tool.poetry.dev-dependencies]
ipdb = "^0.13.4"
pytest-django = "^3.10.0"
model_bakery = "^1.2.0"
pytest-watch = "^4.2.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
